* {
  box-sizing: border-box;
}

html {
	font-family: prestige-elite-std, monospace;
	font-weight: 700;
	font-style: normal;
}

body{

	background: #FFF1E5;
	background: #d64220;
}

.blend-container {
	
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 3em;
	grid-row-gap: 3em;
	position: fixed;
	top: 0;
	left: 0;
	background: whitesmoke;
	background: white;
	color: black;
	width: 100%;
	margin: 0;
	padding: 0;
}

header h1 {
	font-size: 2em;
	padding: 1em;
	margin: 0;
}

header ul {
	text-align: right;
}

header li {
	list-style-type: none;
	padding-bottom: 3%;
}

li:hover {
	font-style: italic;
}

main {
	display: grid;
	grid-template-columns: 1fr 2fr ;
	grid-column-gap: 3em;
	grid-row-gap: 3em;
	margin: 4em;
	padding-top: 30%;
	color: white;
}

main div {	
	text-align: left;
	padding: 1em;
}

.section-title {
	text-align: right;
	font-style: bold;
	mix-blend-mode: difference;
}

.section-title h2 {
	background: white;
	color: black;
}

.section-details p, img {
	color: white;
	mix-blend-mode: difference;
}

main div img {
	max-width: 100%;
}

.divider {
	padding: 100px;
	background: red;
	mix-blend-mode: difference;
}

/*
main div:hover {
	background-color: #6f9501;
	color: white;
}
*/

.image img {
	position: fixed;
	right: 0;
	top: 0;
	max-width: 20%;
	z-index: -100;
}

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin: 12em;
	text-align: center
}

@media only screen and (max-width: 600px) {
	header {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		margin: 4em;
		text-align: center;
	}
	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 3em;
		grid-row-gap: 3em;
		margin: 0 8em 0 8em;
	}
	footer {
		display: grid;
		grid-template-columns: 1fr ;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		margin: 12em;
		text-align: center
	}
}